{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block body %}
<div class="breadcrumbs overlay"
style="background-image:url('static/images/pexels-maksim-goncharenok-5605061 - Copy.jpg')">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <h2>Contact Us</h2>
        </div>

    </div>
</div>
</div>
<!--/ End Breadcrumb -->

<!-- Contact Us -->
<section id="contact" class="contact section">
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-12">
            <div class="section-title bg">


                <div class="icon"><i class="fa fa-paper-plane"></i></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-12">
            <div class="form-head">
                <!-- Contact Form -->
                <form class="form" action="contact" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <i class="fa fa-user"></i>
                                <input name="first-name" type="text" placeholder="First name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <i class="fa fa-envelope"></i>
                                <input name="last-name" type="text" placeholder="Last name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <i class="fa fa-envelope"></i>
                                <input name="email" type="email" placeholder="Email address">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <i class="fa fa-envelope"></i>
                                <input name="url" type="url" placeholder="University Roll Number">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group message">
                                <i class="fa fa-pencil"></i>
                                <textarea name="message" placeholder="Type your message"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="button">
                                    <button type="submit" class="btn primary">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--/ End Contact Form -->
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="contact-right">
                <!-- Contact-Info -->
                <div class="contact-info">
                    <div class="icon"><i class="fa fa-map"></i></div>
                    <h3>Our Collage Location</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d914.2147220641036!2d87.40348386242678!3d23.57351103006123!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5720d0b19fe3916d!2sSANAKA%20EDUCATIONAL%20TRUST&#39;S%20GROUP%20OF%20INSTITUTIONS!5e0!3m2!1sen!2sus!4v1666592142847!5m2!1sen!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- Contact-Info -->
                <div class="contact-info">
                    <div class="icon"><i class="fa fa-envelope"></i></div>
                    <h3>contact information</h3>
                    <p><a href="mailto:info@example.com">study@buddy.com</a></p>
                    <p>+91 000000000</p>
                </div>
                <!-- Contact-Info -->
            </div>
        </div>
    </div>
</div>
</section>
{% endblock body %}

