{% extends 'base.html' %}
{% block title %}Courses{% endblock title %}
{% block body %}
<div class="breadcrumbs overlay" style="background-image:url('static/images/pexels-nothing-ahead-5009179.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <h2>Our Courses</h2>
            </div>

        </div>
    </div>
</div>
<!-- Courses -->
<section class="courses archive section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Course -->
                <div class="single-course">
                    <!-- Course Head -->
                    <div class="course-head overlay">
                        <img src="static\images\pexels-andrea-piacquadio-3783725.jpg"" alt="#">
                        <a href="login.html" class="btn white primary">Register Now</a>
                    </div>
                    <!-- Course Body -->
            <div class="course-body">
                        <h4 class="c-title"><a href="account.html">Python Programming</a></h4>

                    </div>
                    <!-- Course Meta -->
                    <div class="course-meta">
                        <!-- Rattings -->
                        <ul class="rattings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-o"></i></li>
                            <li class="point"><span>4.5</span></li>
                        </ul>
                        <!-- Course Info -->
                        <div class="course-info">
                            <span><i class="fa fa-users"></i>150+ Enrolled</span>
                        </div>
                    </div>
                    <!--/ End Course Meta -->
                </div>
                <!--/ End Single Course -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Course -->
                <div class="single-course">
                    <!-- Course Head -->
                    <div class="course-head overlay">
                        <img src="static\images\pexels-michael-burrows-7129700.jpg" alt="#">
                        <a href="login.html" class="btn white primary">Register Now</a>
                    </div>
                    <!-- Course Body -->
                    <div class="course-body">
                        <h4 class="c-title"><a href="course-single.html">Operating System</a></h4>

                    </div>
                    <!-- Course Meta -->
                    <div class="course-meta">
                        <!-- Rattings -->
                        <ul class="rattings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li class="point"><span>4.0</span></li>
                        </ul>
                        <!-- Course Info -->
                        <div class="course-info">
                            <span><i class="fa fa-users"></i>100+ Enrolled</span>
                        </div>
                    </div>
                    <!--/ End Course Meta -->
                </div>
                <!--/ End Single Course -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Course -->
                <div class="single-course">
                    <!-- Course Head -->
                    <div class="course-head overlay">
                        <img src="static\images\pexels-mikhail-nilov-9159037.jpg" alt="#">
                        <a href="login.html" class="btn white primary">Register Now</a>
                    </div>
                    <!-- Course Body -->
                    <div class="course-body">
                        <h4 class="c-title"><a href="course-single.html">Compiler Design</a></h4>

                    </div>
                    <!-- Course Meta -->
                    <div class="course-meta">
                        <!-- Rattings -->
                        <ul class="rattings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li class="point"><span>3.9</span></li>
                        </ul>
                        <!-- Course Info -->
                        <div class="course-info">
                            <span><i class="fa fa-users"></i>80+ Enrolled</span>
                        </div>
                    </div>
                    <!--/ End Course Meta -->
                </div>
                <!--/ End Single Course -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Course -->
                <div class="single-course">
                    <!-- Course Head -->
                    <div class="course-head overlay">
                        <img src="static\images\pexels-julia-m-cameron-4144096.jpg" alt="#">
                        <a href="account.html" class="btn white primary">Register Now</a>
                    </div>
                    <!-- Course Body -->
                    <div class="course-body">
                        <h4 class="c-title"><a href="course-single.html">Software Engineering</a></h4>

                    </div>
                    <!-- Course Meta -->
                    <div class="course-meta">
                        <!-- Rattings -->
                        <ul class="rattings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-o"></i></li>
                            <li class="point"><span>4.9</span></li>
                        </ul>
                        <!-- Course Info -->
                        <div class="course-info">
                            <span><i class="fa fa-users"></i>200+ Enrolled</span>
                        </div>
                    </div>
                    <!--/ End Course Meta -->
                </div>
                <!--/ End Single Course -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Course -->
                <div class="single-course">
                    <!-- Course Head -->
                    <div class="course-head overlay">
                        <img src="static\images\pexels-andrea-piacquadio-3769021.jpg" alt="#">
                        <a href="login.html" class="btn white primary">Register Now</a>
                    </div>
                    <!-- Course Body -->
                    <div class="course-body">
                        <h4 class="c-title"><a href="course-single.html">Computer Networking</a></h4>

                    </div>
                    <!-- Course Meta -->
                    <div class="course-meta">
                        <!-- Rattings -->
                        <ul class="rattings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-o"></i></li>
                            <li class="point"><span>4.5</span></li>
                        </ul>
                        <!-- Course Info -->
                        <div class="course-info">
                            <span><i class="fa fa-users"></i>160+ Enrolled</span>
                        </div>
                    </div>
                    <!--/ End Course Meta -->
                </div>
                <!--/ End Single Course -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Course -->
                <div class="single-course">
                    <!-- Course Head -->
                    <div class="course-head overlay">
                        <img src="static\images\pexels-julia-m-cameron-4143800.jpg" alt="#">
                        <a href="login.html" class="btn white primary">Register Now</a>
                    </div>
                    <!-- Course Body -->
      <div class="course-body">
        <h4 class="c-title"><a href="course-single.html">Database Management System</a></h4>

      </div>
      <!-- Course Meta -->
      <div class="course-meta">
                        <!-- Rattings -->
                        <ul class="rattings">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li class="point"><span>4.0</span></li>
                        </ul>
                        <!-- Course Info -->
                        <div class="course-info">
                            <span><i class="fa fa-users"></i>300+ Enrolled</span>
                        </div>
                    </div>
                    <!--/ End Course Meta -->
                </div>
                <!--/ End Single Course -->
            </div>
        </div>
    </div>
</section>
{% endblock body %}

