{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock title %}
{% block body %}
<div class="breadcrumbs overlay" style="background-image:url('static/images/breadcrumb-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <h2>Forgot Password</h2>
            </div>
            
        </div>
    </div>
</div>
<div class="Main-container">
    <div class="container-login">
        <div class="wrap-login">

            <div class="login-pic">
                <img src="static/images/logo.png"alt="IMG">
            </div>

            <form class="login-form">
                <span class="login-form-title">Forgot Password</span>

                <div class="wrap-input">
                    <input type="text" class="input" name="username" placeholder="University Roll Number" required>
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input">
                    <input type="text" class="input" name="email" placeholder="Enter Your Email" required>
                    <span class="focus-input"></span>
                 
                </div>
               
                <div class="login-form-btn-container">
                    <button class="login-form-btn" id="forgot-pass-btn">Send Email</button>
                </div>            
                <div class="text-center p-t-2">
                   
                    <a href="/login" class="txt2">Login/Register<i class="fa fa-long-arrow-right " aria-hidden="true"></i></a>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock body %}

