{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<section class="home-slider">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider overlay">
            <div class="slider-image" style="background-image:url('static/images/pexels-yan-krukov-8199708.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-10 col-12">
                        <!-- Slider Content -->
                        <div class="slider-content">
                            <h1 class="slider-title"><span>Favourite learning partner of the students of SETGOI,</span>Study<b>Buddy</b></h1>
                            <p class="slider-text">The beautiful thing about learning is that nobody can take it away from you.</p>
                            <!-- Button -->
                            <div class="button">
                                <a href="/courses" class="btn white primary">Our Courses</a>
                            </div>
                            <!--/ End Button -->
                        </div>
                        <!--/ End Slider Content -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </div>
</section>
<center>
<center class="center">
<div class="features overlay section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Feature -->
                <div class="single-feature">
                    <div class="icon-img">
                        <img src="static/images/Books.png" alt="#">
                        <i class="fa fa-clone"></i>
                    </div>
                    <div class="feature-content">
                        <h4 class="f-title">Best Courses</h4>
                        <p>Operating System, Computer Networking, Database Management System etc.</p>
                    </div>
                </div>
                <!--/ End Single Feature -->
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Feature -->
                <div class="single-feature">
                    <div class="icon-img">
                        <img src="static/images/pexels-nothing-ahead-5009179.jpg" alt="#">
                        <i class="fa fa-institution"></i>
                    </div>
                    <div class="feature-content">
                        <h4 class="f-title">Top Facilities</h4>
                        <p>We have the best facilities available for our students.</p>
                    </div>
                </div>
                <!--/ End Single Feature -->
            </div>
        </center>		
</center>


<section class="cta">
<div class="cta-inner overlay section" style="background-image:url('static/images/pexels-gerd-altmann-21696.jpg')" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
                <div class="text-content">
                    <h2>We <span>Focus on</span> Skills, Knowledge & Experience.</h2>
                    <p>We're not engineers, we're builders. There's something very satisfying about creating something new.</p>

                    <div class="button">
                        <a class="btn white" href="#">Join With Now</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">

                <div class="cta-image">
                    <img src="static/images/pexels-ekaterina-bolovtsova-6192326.jpg" alt="#">
                </div>

            </div>
        </div>
    </div>
</div>
</section>
{% endblock body %}